apiVersion: apps/v1
kind: Deployment
metadata:
  name: htb-frontend
  namespace: htb
spec:
  selector:
    matchLabels:
      app: htb-frontend
  template:
    metadata:
      labels:
        app: htb-frontend
    spec:
      containers:
      - name: htb-frontend
        image: ghcr.io/alexvegas22/htb:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        env:
        - name: VITE_API_URL
          value: "https://api.htb.v34l.com"
        - name: VITE_WEBSOCKET_URL
          value: "wss://ws.htb.v34l.com"
