---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gatus-config
data:
  config.yaml: |
    security:
      basic:
        username: "alex.vegas"
        password-bcrypt-base64: "JDJhJDEyJDZTN3c1dEFnTFNqYXdVcERZbnhmME9pcU9qbWZ3R2Q1b0wud0EwSjBTWVJYVDJBQmJ0bGRL"
